{% extends "bootstrap/base.html" %}
{% block title %}Main{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">
                    Toggle navigation
                </span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="/data">Data</a>
                </li>
            </ul>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<p>{{ data.today_date}}大盘运行情况如下:</p>
<p>大盘涨跌幅{{data.dapan.percent}}，收于{{data.dapan.close}}点. 创业板涨跌幅{{data.chuang.percent}}，收于{{data.chuang.close}}点</p>
<p>其中，上涨个股 {{data.up_count}} 家， 下跌个股 {{data.down_count}} 家。 涨停个股 {{data.up10_count}}家，跌停个股 {{data.down10_count}} 家。</p>
<p>{{data.up3_coount}}家个股涨幅超过3个点，{{data.down3_count}}家个股跌幅超过3个点。</p>
{% endblock %}